<div fxLayoutAlign="center center" fxFill class="main-div">
<mat-card fxFlex="25">
    <mat-toolbar> Login Page</mat-toolbar>
<form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
    <mat-form-field>
        <input matInput placeholder="Username" formControlName="empName">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
</form>

</mat-card>

</div>